@page "/Error"
@using System.Diagnostics

<PageTitle>Hiba</PageTitle>

<h1 class="text-danger">Hiba.</h1>
<h2 class="text-danger">Hiba történt a kérés feldolgozása során.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Kérés azonosító:</strong> <code>@RequestId</code>
    </p>
}

<h3>Fejlesztői mód</h3>
<p>
    A <strong>Development</strong> környezetre váltás részletesebb információkat jelenít meg a fellépett hibáról.
</p>
<p>
    <strong>A fejlesztői környezetet nem szabad engedélyezni az éles alkalmazásokban.</strong>
    Ez érzékeny információk megjelenítését eredményezheti a végfelhasználók számára.
    Helyi hibakereséshez engedélyezze a <strong>Development</strong> környezetet az <strong>ASPNETCORE_ENVIRONMENT</strong> környezeti változó <strong>Development</strong> értékre állításával
    és az alkalmazás újraindításával.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
